/* 

Author: Christian Marçal

Github: https://github.com/Christianmsousa
LinkedIn: https://www.linkedin.com/in/christiansousaa/
Figman: https://www.figma.com/file/Tq9NvpD1VR9xmTjmZoZJNP/ProjetoUsf?node-id=0%3A1
Discord: Swapp#0337

Version: 1.0
Universidade Sâo Fracisco


*/

/* #page-home{
  display: flex;
  align-items: center;
  justify-content: center;
} */

#container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* LOGO */
header{
  margin: 6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
header img{
  width: 25rem;
  /* height: 4rem; */
}

/* TEXT */

.dc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;

}
.dc p{
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  width: 28rem;
  color: var(--grey);
}

.discord button{
  background: var(--discord);
  border: 0;
  width: 22rem;
  height: 5vh;
  border-radius: 5px;
}
.discord button a{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 400;
  font-size: 1.8rem;
}
.discord button a img{
  width: 3.5rem;
}

.discord button:hover{
  background: var(--discord-h)
}
/* Form login */

.form{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form h1{
  color: white;
  margin-bottom: 2rem;
}
form{
  background: var(--secundary);
  padding: 4rem 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -3px 4px 4px rgba(0, 0, 0, 0.25), 3px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
/* Email */

.mail{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.mail .fa-envelope{
  color: white;
  position: absolute;
  margin-left: 1.2rem;
  font-size: 1.1rem;
}
.mail input{
  background-color: var(--primary);
  border: 0;
  padding-left: 3rem;
  width:  23rem;
  font-size: 1.5rem;
  height: 3rem;
  color: white;
  font-weight: 400;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  transition: 800ms;
}

.mail input:hover{
  border-bottom: 1px solid var(--grey);
}
.mail input:focus{
  outline: none;
}

/* Senha */


.senha{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0.9rem;
}
.senha .fa-lock{
  color: white;
  position: absolute;
  margin-left: 1.2rem;
  font-size: 1.1rem;
}
.senha input{
  background-color: var(--primary);
  border: 0;
  padding-left: 3rem;
  width:  23rem;
  font-size: 1.5rem;
  height: 3rem;
  color: white;
  font-weight: 400;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  transition: 800ms;
}

.senha input:hover{
  border-bottom: 1px solid var(--grey);
}
.senha input:focus{
  outline: none;
}

/* No register */

.sem-reg{
  margin-bottom: 1rem;
}
.sem-reg a{
  font-size: 1.1rem;
  color: var(--red);
}
/* Button login */

.botao-login button{
  width:  23rem;
  font-size: 1.6rem;
  height: 3rem;
  background: var(--red);
  border: 0;
  color: white;
  border-radius: 5px;
}
.botao-login button:hover{
  background: var(--hover);
}
.botao-login button:focus{
  outline: none;
}

/* Register */

.cad {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.2rem;
}
.cad a{
  color: white;
}

/* Icon */

footer img{
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  width: 2rem;
}



/****************** RESPONSIVIDADE ******************/


@media(min-width: 768px){
  #container{
    align-items: initial;
  }
  /* LOGO */
  header{
    margin: 9rem 8.2rem;
    display: flex;
    align-items: center;
    justify-content: initial;
  }
  header img{
    width: 28rem;
    /* height: 4rem; */
  }
  main{
    display: flex;
    justify-content: center;
  }
  main .dc{
    margin-right: 3rem;
  }
  .dc{
    align-items: initial;
  }
  .dc p{
    font-size: 2.9rem;
    width: 28rem;
    text-align: initial;
  }
  /* Icon */

  footer img{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    width: 3rem;
  }  
}


@media(min-width: 1024px){
  #container{
    align-items: initial;
  }
  /* LOGO */
  header{
    margin: 7rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header img{
    width: 40rem;
    /* height: 4rem; */
  }
  main{
    /* margin-left: 8.2rem; */
    display: flex;
    justify-content: center;
  }
  main .dc{
    margin-right: 5rem;
  }

  .dc{
    align-items: initial;
  }
  .dc p{
    font-size: 3.5rem;
    width: 39rem;
    text-align: initial;
  }

  .form{
    margin-left: 5rem;
  }
  .form h1{
    font-size: 2.2rem;
  }
  /* Email */

  .mail{
    margin-bottom: 1.5rem;
    align-items: center;
  }
  .mail .fa-envelope{
    margin-left: 1.5rem;
    font-size: 1.2rem;
  }
  .mail input{
    padding-left: 3.9rem;
    width:  35rem;
    font-size: 1.6rem;
    height: 4rem;
  }
  /* Senha */

  .senha{
    margin-bottom: 1.5rem;
    align-items: center;
  }
  .senha .fa-lock{
    margin-left: 1.5rem;
    font-size: 1.2rem;
  }
  .senha input{
    padding-left: 3.9rem;
    width:  35rem;
    font-size: 1.6rem;
    height: 4rem;
  }
  .sem-reg a{
    font-size: 1.35rem;
  }
  .cad a{
    font-size: 1.35rem;
  }
  /* Button login */

  .botao-login button{
    width:  35rem;
    font-size: 1.8rem;
    height: 4rem;
  }

  /* Icon */

  footer img{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    width: 3rem;
  }  
}

